* {
    color: black;
}

button {
    width: 100%;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    height: 50px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 2%;
}

input.form-control {
    border: 2px solid #007bff;
    height: 50px;
    font-weight: bolder;
    font-size: 20px;
}

input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

label {
    font-weight: bolder;
    font-size: 17.5px;
}